<div class="row">
  <div class="col-md-12">
    <div class="">
      <h3>Role <%= @role.name %></h3>
      <%= form_for( @role, :url => role_path, :method => :put) do |f| %>
        <fieldset>
          <h3>Permissions</h3>
        </fieldset>
        <fieldset>
          <table class="table">
            <thead>
              <th>Class</th>
              <th>Action</th>
              <th>#{check_box_tag 'main', 0, false}</th>
            </thead>
            <tbody>
              <% @permissions.each do |permission| %>
                <tr>
                  <td>
                    <%= permission.subject_class %>
                  </td>
                  <td>
                    <%= permission.action %>
                  </td>
                  <td>
                    <%= check_box_tag 'permissions[]', permission.id, @role_permissions.include?(permission.id), {array: true, class: "check_box"}  %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </fieldset>
        <fieldset>
            <div class="span16 offset2">
              <div class="clearfix">
                <%= f.submit "Update", :class => 'btn primary' %>
                <%= link_to 'Cancel', roles_path %>
              </div>
            </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>