<div class="container">
  <div class="row">
    <h3><%=current_admin.role.name%>: Listing Roles</h3>
    <div class="col-md-12">
      <%= link_to 'add role', new_role_path if current_admin.super_admin? %>
      <table class="table">
        <thead>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @roles.each do |role| %>
          <tr>
            <td>
              <%= role.name %>
            </td>
            <td>
              <%= link_to 'show', role %>
            </td>
            <td>
              <%= link_to 'edit', edit_role_path(role) %>
            </td>
            <td>
             <%= link_to 'delete role', role, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>